/* Primary color (blue) */
/* color: rgb(42, 91, 138); */
/* Secondary color (red) */
/* color: rgb(139, 42, 44); */
/* Inverted color (white) */
/* color: rgb(230, 230, 230); */
/* Dark color (black) */
/* color: rgb(26, 26, 26); */

.article-cover_image {
  height: 300px;
}

.mailchimpery {
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

.mailchimpery p {
  text-transform: none;
  font-size: 1.5em;
  padding-top: 25px;
}

.mailchimpery em {
  color: rgb(139, 42, 44);
}

.mailchimpery p.small {
  font-size: 1em;
}

.mailchimpery form {
  padding-top: 25px;
}

input {
  padding: 6px;
  border-radius: 3px;
  width: 80%;
  text-align: center;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(0,0,0,1); /*top internal highlight*/
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5);
  background-color: rgb(230, 230, 230);
}

input[type="email"] {
  max-width: 500px;
}

button {
  font-weight: 700;
  font-size: 1.5em;
  background-color: rgb(245, 245, 245);
  padding-left: 20px;
  padding-right: 20px;
  max-width: 300px;
  border-radius: 10px;
}

#coverfix-bg {
  /* Set up the backdrop for all of the blog pages */
  background: url('/images/lake_silhouette.svg') rgb(56, 44, 44);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
        
}

#titular {
  /* Here there be dragons... and anything for the top title div. */
  padding-bottom: 0px;
  height: 0;
}
  
.container-page {
  margin: 0 0 0 0;
}

.tail-offset {
  height: 700px;
}

#page-row {
  padding-top: 10px;
  padding-bottom: 50px;
}

#content-column {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#page-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: lowercase;
  display: inline;
}

#page-title h1 {
  /* Any h1's within the subdued page title */
  font-weight: normal;
  text-align: left;
  margin-left: 30%;
  font-size: 3em;
}

#page-title h1 a {
  font-weight: normal;
  color: inherit;
}

#page-title h2 {
  /* Any h2's within the subdued page title */
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  margin-left: 40%;
}

#page-title p {
  /* Any p's within the subdued page title */
  padding-top: 20px;
}

#featured {
  /* Anything for the primary featured div */
  display: inline-block;
  position: static;
  overflow: hidden;
  width: 100%;
  margin-bottom: 25px;
  color: rgb(128, 128, 128);
}

#featured:empty {
  display: none;
}

#featured:first-child {
  margin-top: 42px;
}

.article-feature {
  height: 100%;
  width: 100%;
  background-color: white;
  padding-bottom: 25px;
}

.article-cover_image {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.article-cover_image img {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.article-title {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 3em;
  font-weight: normal;
}

.article-title a {
  font-weight: normal;
}

.article-social_box {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}

.article-social_box ul:before {
  display: block;
  width: 100%;
  text-align: center;
  content: "share";
  overflow: visible;
  height: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.article-social_box ul {
  display: inline-block;
}

.article-social_box li {
  margin: 5px;
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  background-color: rgb(130, 130, 130);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.article-social_box li:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.article-social_box a {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  font-size: 0;
}

.article-social_box a:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

.article-summary {
  padding: 20px;
  display: none;
}

.article-social_box a.social {
  background-size: 50% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

#pdf_link {
  background-image: url('/images/social-pdf.svg');
}

#email_link {
  background-image: url('/images/social-email.svg');
}

#facebook_link {
  background-image: url('/images/social-facebook.svg');
}

#twitter_link {
  background-image: url('/images/social-twitter.svg');
}

#gplus_link {
  background-image: url('/images/social-gplus.svg');
}

.transformfix {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#coverfix {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

#coverfix-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#titular {
  /* Here there be dragons... and anything for the top title div. */
}

#navbar {
  color: rgb(26, 26, 26);
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-top: 7px;
  width: 100%;
  /*text-shadow: 0px 0px 2px rgb(139, 42, 44);*/
  height: 45px;
  /* Primary color */
  /* color: rgb(42, 91, 138); */
  /* Secondary color */
  /* color: rgb(139, 42, 44); */
  /* Inverted color */
  /* color: rgb(230, 230, 230); */
  /* Dark color */
  /* color: rgb(26, 26, 26); */
}

.justifyfix {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only hack */
}

.justifyfix:after{
  content: "";
  width: 100%;
  display: inline-block;
  font-size: 0;
}

.justifyfix div,
.justifyfix li {
  font-size: medium;
}

#navbar .justifyfix {
  width: 700px;
  color: rgb(128, 128, 128);
}

#navbar a {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
  color: rgb(100, 100, 120);
  font-weight: normal;
}

#navbar h1 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

#navbar-home {
  /* Specific to the navbar home link */
}

#navbar-blog {
  /* Specific to the navbar blog link */
  text-align: right;
}

.navbar-container {
  display: inline-block;
  vertical-align: baseline;
}

#footer a {
  color: rgb(139, 42, 44);
}

#footer {
  color: rgb(128, 128, 128);
}

em {
  font-style: italic;
}

a {
  display: inline-block;
  font-weight: 700;
  color: rgb(42, 91, 138);
  /*text-shadow: 0px 0px 2px rgb(26, 26, 26);*/
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

a:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

span.breakfix {
  display: inline-block;
}

span.bold {
  font-weight: 700;
}

p.bold {
  font-weight: 700;
}

.color-primary {
  color: rgb(42, 91, 138);
}

.color-secondary {
  color: rgb(139, 42, 44);
}

.color-inverted {
  color: rgb(230, 230, 230);
}

.color-dark {
  color: rgb(26, 26, 26);
}

.fill-transgradient {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(26,26,26,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ff1a1a1a',GradientType=0 ); /* IE6-9 */
} 

.fill-transgradient h1 {
  text-shadow: 0px 0px 8px black;
}

.fill-transgradient.color-primary h2 {
  text-shadow: 0px 0px 6px black;
}

.fill-primary {
  background-color: rgb(42, 91, 138);
}

.fill-secondary {
  background-color: rgb(139, 42, 44);
}

.fill-light {
  background-color: white;
}

.fill-subdued {
  background-color: rgb(230, 230, 230);
}

.fill-dark {
  background-color: rgb(26, 26, 26);
}

.start-hidden {
  visibility: hidden;
}

.start-silent {
  display: none;
}

.show-overflow {
  overflow: visible !important;
}

.container-page {
  position: relative;
  float: left;
  width: 100%;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.container-full {
  float: left;
  width: 100%;
  overflow: hidden;
  clear: both;
  position: relative;
}

.container-75 {
  position: relative;
  width: 74%;
  overflow: hidden;
}

.container-50 {
  position: relative;
  width: 49%;
  overflow: hidden;
}

.container-25 {
  position: relative;
  width: 24%;
  overflow: hidden;
}

.container-75.left, 
.container-75.right,
.container-50.left, 
.container-50.right,
.container-25.left, 
.container-25.right {
  text-align: inherit;
}

.container-75.left h1, 
.container-75.left h2,
.container-50.left h1, 
.container-50.left h2,
.container-25.left h1, 
.container-25.left h2,
.block.left h1, 
.block.left h2 {
  text-align: right;
}

.container-75.right h1, 
.container-75.right h2,
.container-50.right h1, 
.container-50.right h2,
.container-25.right h1, 
.container-25.right h2,
.block-right h1,
.block-right h2 {
  text-align: left;
}

.stacking {
  display: inline-block;
  vertical-align: top;
}

.block {
  display: block;
  width: 75%;
  min-width: 315px;
  max-width: 400px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.block.right {
  text-align: right;
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.block.left {
  text-align: left;
  position: relative;
  left: 0;
}

.block img {
  position: relative;
  width: auto;
  height: 75%;
  top: 12.5%;
  margin-left: 10px;
  margin-right: 10px;
}
  
.block p {
  font-size: 1.2em;
}

.block.right img {
  float: left;
}

.block.left img {
  float: right;
}

.block h1 {
  font-size: 1.25em;
  font-weight: 700;
  position: absolute;
  top: -2em;
}

.block h2 {
  font-size: 1.25em;
  font-weight: 400;
}

.block.left h1,
.block.left h2 {
  left: 0;
}

.block.right h1,
.block.right h2 {
  right: 0;
}

.block div.puffer {
  position: relative;
  top: 50%;  
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centered {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.padded-light {
  padding: 50px;
}

.padded-light-topsy {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padded-light-sides {
  padding-left: 50px;
  padding-right: 50px;
}

.padded-mid-topsy {
  padding-top: 100px;
  padding-bottom: 100px;
}

.squeezed {
  padding: 200px;
}

.squeezed-sides {
  padding-left: 200px;
  padding-right: 200px;
}

.squeezed-topsy {
  padding-top: 200px;
  padding-bottom: 200px;
}

.padded-light.left,
.padded-light-sides.left,
.squeezed.left,
.squeezed-sides.left {
  padding-right: 25px;
}

.padded-light.right,
.padded-light-sides.right,
.squeezed.right,
.squeezed-sides.right {
  padding-left: 25px;
}

.spaced {
  margin: 10px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.tail-offset {
  visibility: hidden;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

@media (max-width: 1000px) {

  #navbar .justifyfix {
    width: 500px;
    }
}

@media(max-width: 725px) {
  
  .stacking {
    position: relative;
    clear: both;
    width: 100%;
  }

  .stacking {
    position: relative;
    clear: both;
    width: 100%;
  }
  
  .block {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .padded-light.left,
  .padded-light-sides.left {
    padding-right: 50px;
  }

  .squeezed.left,
  .squeezed-sides.left {
    padding-right: 200px;
  }

  .padded-light.right,
  .padded-light-sides.right {
    padding-left: 50px;
  }
  .squeezed.right,
  .squeezed-sides.right {
    padding-left: 200px;
  }

  .copyright {
    font-size: 12px;
  }

  .tail-offset {
    position: relative;
  }
}

@media(max-width: 515px) {
  
  .block.left {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .block.right {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  #navbar .justifyfix {
    width: 300px;
  }
}

@media(max-width: 435px) {
  
  .padded-light-sides {
    padding-left: 10px;
    padding-right: 10px;
  }

  .padded-light.left,
  .padded-light-sides.left {
    padding-right:10px;
  }

  .squeezed.left,
  .squeezed-sides.left {
    padding-right: 10px;
  }

  .padded-light.right,
  .padded-light-sides.right {
    padding-left: 10px;
  }
  .squeezed.right,
  .squeezed-sides.right {
    padding-left: 10px;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .block h1 {
    position: static;
  }
  
  .block.left h1 {
    text-align: center;
  }
  
  .block.right h1 {
    text-align: center;
  }
  
  .block {
    width: 100%;
    min-width: 0;
    text-align: center;
    height: initial;
    padding: 15px;
  }
  
  .block.left {
    text-align: center;
  }
  
  .block.right {
    text-align: center;
  }
  
  .block img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    width: 80%;
    height: auto;
  }
  
  .block.left img {
    position: static;
    float: none;
    clear: both;
  }
  
  .block.right img {
    position: static;
    float: none;
    clear: both;
  }
  
  .block div.puffer {
    position: static;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  
  .padded-mid-topsy {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .padded-mid-sides {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padded-mid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .copyright {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  #navbar .justifyfix {
    width: 200px;
  }
}

@media (max-width: 1275px) {
    
  #content-column {
    width: 950px;
  }
}

@media (max-width: 1000px) {
  
  #content-column {
    width: 800px;
  }
}

@media (max-width: 850px) {
  
  #content-column {
    width: 100%;
  }
}

@media (max-width: 590px) {
  
  #content {
    width: 100%;
  }
  
}