/* Primary color (green) */
/*    normal */
/*      color: rgb(0, 181, 26); */
/*    dark */
/*      color: rgb(0, 90, 13); */
/*    light */
/*      color: rgb(0, 255, 36); */
/* Secondary color (blue) */
/*    normal */
/*      color: rgb(0, 107, 179); */
/*    dark */
/*      color: rgb(0, 53, 89); */
/*    light */
/*      color: rgb(0, 152, 255); */
/* Tertiary color (red) */
/*    normal */
/*      color: rgb(179, 27, 0); */
/*    dark */
/*      color: rgb(89, 13, 0); */
/*    light */
/*      color: rgb(255, 38, 0); */

body {
  font: 400 12pt/1.1 'Palanquin', Tahoma, Geneva, sans-serif;
  width: 100%;
  height: 100%;
  /*color: rgb(128, 128, 128);*/
}

.centered {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.content-row {
  width: 100%;
}

.content-frame {
  height: 80%;
  width: 1200px;
  position: relative;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.content-frame-container {
  height: 750px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#frame-container-1 {
  background-image: url('/assets/bg-grad-white.svg');
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#frame-container-2 {
  background-image: url('/assets/bg-grad-black.svg');
}

#frame-container-3 {
  background-image: url('/assets/bg-grad-grey.svg');
}

#frame-container-4 {
  background-image: url('/assets/bg-grad-black.svg');
}

#frame-container-5 {
  display: none;
  background-image: url('/assets/bg-grad-white.svg');
}

.half-block {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-block;
  width: 49%;
  padding: 50px;
  vertical-align: middle;
}

#mailchimpery {
  position: relative;
  top: -10%;
}

#mailchimpery h1 {
  font-weight: 400;
  text-align: center;
  display: block;
  text-transform: lowercase;
  color: rgb(59, 59, 59);
}

#mailchimpery button,
#mailchimpery input {
  display: block;
  font-size: 1.5em;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

#mailchimpery button {
  color: white;
  text-transform: lowercase;
}

#mailchimpery input {
  color: rgb(59, 59, 59);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(0,0,0,1); /*top internal highlight*/
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5);
}

#mailchimpery .silently-incinerate input,
#mailchimpery .silently-incinerate {
  height: 0; 
  width: 0; 
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline;
  overflow: hidden;
}

#mc-embedded-subscribe {
  background-color: rgb(0, 181, 26);
  border: 2px solid rgb(0, 90, 13);
}

#learnmore {
  background-color: rgb(59, 59, 59);
  border: 2px solid black;
}

#app-mock-container {
  height: 100%;
}

#app-mock {
  width: 100%;
  height: 100%;
  background-image: url('/assets/app_in_monitor.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#splash-logo {
  width: 100%;
  height: 100%;
  background-image: url('/assets/logo-full-grey.svg');
  background-size: 400px;
  background-position: left bottom;
  background-repeat: no-repeat;
  overflow: visible;
  /*position: absolute;
  bottom: 195px;
  left: 50px;
  width: 400px;
  height: 185px;
  background-image: url('/assets/logo-full-grey.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;*/
}

#footer-page a {
  color: rgb(139, 42, 44);
}

#footer-page {
  color: rgb(128, 128, 128);
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media(max-height: 800px) {
  .content-frame-container {
    height: 650px;
  }
}

@media(max-width: 1250px){
  .content-frame {
    width: 900px;
  }
  
  #mailchimpery h1 {
    font-size: 2.5em;
  }
  
  #mailchimpery input {
    font-size: 1em;
  }
  
  #splash-logo {
    background-size: 300px;
  }
  
  #frame-container-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media(max-width: 935px){
  .content-frame {
    width: 100%;
  }
  
  #splash-logo {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center top;
    padding-top: 125px;
  }
  
  .half-block {
    padding: 10px;
    display: block;
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  #app-mock {
    background-position: center top;
  }
}

@media(max-width: 375px) {
  #splash-logo {
    background-size: 225px;
  }
  
  #mailchimpery h1 {
    font-size: 2em;
  }
}